[Unit]
Description=My webapp
After=network.target

[Service]
Environment=NODE_PORT=8080
Type=simple
User=csye6225
Group=csye6225
WorkingDirectory = /opt/webapp
ExecStart= /usr/bin/node /opt/webapp/server.js 
Restart=always
RestartSec=3
StandardOutput=syslong
StandardError=syslong
Syslogdentifier=csye6225

[Install]
WantedBy=multi-user.target
